V2rayU.xcodeproj/project.xcworkspace/xcuserdata
V2rayU.xcodeproj/xcuserdata
Pods
V2rayU.xcworkspace/xcuserdata
Build/v2ray-core
Build/release.sh
Build/Products
Build/Intermediates.noindex
Build/*.dmg
Build/._*
screenshot/._*
V2rayU/._*
V2rayU/Base.lproj/._*
V2rayU/en.lproj/._*
V2rayU/zh-Hans.lproj/._*
V2rayU/zh-Hant.lproj/._*
V2rayU/Preference/._*
V2rayU/v2ray/._*
V2rayULauncher/._*
V2rayUTests/._*
V2rayUTool/._*
V2rayU/zh-HK.lproj
Podfile.lock

.DS_Store
.idea






