V2rayU.xcodeproj/project.xcworkspace/xcuserdata
V2rayU.xcodeproj/xcuserdata
V2rayU.xcodeproj/._*
V2rayU.xcworkspace/xcuserdata
V2rayU.xcworkspace/._*
Pods
Build/v2ray-core
Build/Products
Build/Intermediates.noindex
Build/*.dmg
Build/._*
Build/pac/._*
Build/sketch/._*
screenshot/._*
V2rayU/._*
V2rayU/Assets.xcassets/._*
V2rayU/AppIcon.appiconset/._*
V2rayU/IconOff.imageset/._*
V2rayU/IconOn.imageset/._*
V2rayU/IconOnG.imageset/._*
V2rayU/IconOnM.imageset/._*
V2rayU/IconOnP.imageset/._*
V2rayU/Base.lproj/._*
V2rayU/en.lproj/._*
V2rayU/zh-Hans.lproj/._*
V2rayU/zh-Hant.lproj/._*
V2rayU/Preference/._*
V2rayU/v2ray/._*
V2rayULauncher/._*
V2rayUTests/._*
V2rayUTool/._*
Podfile.lock
release.sh
.DS_Store
.idea
._*
